<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
        <h4>About Us</h4>
        <p>We are a leading e-commerce platform offering top deals and exclusive discounts on a wide range of products. Shop with confidence and enjoy our premium services.</p>
    </div>
  
    <div class="footer-section links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <!-- <li><a routerLink="/contact">Contact Us</a></li>
          <li><a href="#">Terms & Conditions</a></li>-->
          <li><a href="#">Privacy Policy</a></li> 
        </ul>
    </div>
  
    <div class="footer-section customer-service">
        <h4>Customer Service</h4>
        <ul>
          <li><a href="#">Shipping & Delivery</a></li>
          <li><a href="#">Returns & Refunds</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Support Center</a></li>
        </ul>
    </div>
  
    <div class="footer-section social-media">
        <h4>Follow Us</h4>
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-back-to-top">
        <a href="#" (click)="scrollToTop()">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; 2024 Your E-Commerce Website. All rights reserved.</p>
    </div>

</footer>
